* {
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #5396b0;
  gap: 10px;
  /* background: radial-gradient(
    circle,
    rgba(83, 150, 176, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );*/
  background: url('./assets/backgroundimage.jpg') repeat center;
  background-size: contain;
}
img {
  align-self: flex-start;
  height: 50px;
  width: 50px;
}

p {
  font-size: 10px;
  color: rgb(234, 6, 6);
}
.divider {
  border: none;
  height: 1px;
  background-color: #333;
  width: 50%;
}
button {
  background-color: #e6893d;
  border: none;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  padding: 3px;
  color: white;
  transition-duration: 0.4s;
}
button:hover {
  background-color: #c9ad22;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}
button:disabled {
  background-color: #cccccc;
  color: #666666;
  opacity: 1;
  cursor: text;
}
a {
  padding: 10px;
  color: rgb(212, 163, 77);
  font-size: 10px;
}
